## Machine Learning - Session 3 -Slicing Data

In [1]:
# Set the working directory
import os
os.chdir("C:\\Users\\hp\\Documents\\Praxis_Docs\\GOURAB_SIR_PYTHON_ML\\ML")

#Read the cars.csv data
import pandas as pd
cars = pd.read_csv("cars.csv")

#### 1. Choosing multiple columns

In [5]:
#Select the coumns MPG, Weight and Horsepower
cars.loc[:,["MPG","Weight","Horsepower"]]

      MPG  Weight  Horsepower
0    18.0    3504         130
1    15.0    3693         165
2    18.0    3436         150
3    16.0    3433         150
4    17.0    3449         140
..    ...     ...         ...
401  27.0    2790          86
402  44.0    2130          52
403  32.0    2295          84
404  28.0    2625          79
405  31.0    2720          82

[406 rows x 3 columns]

In [ ]:
#OR

In [ ]:
#Using iloc (iloc allows you to give the indices)

In [ ]:
#OR Using loc (loc allows you to give the names)

#### 3. Choosing rows

In [ ]:
#A. Choosing a single row from a single variable

In [ ]:
#OR

In [ ]:
#OR using iloc

In [ ]:
#OR using loc

In [ ]:
#B. Slicing few rows from a single variable

In [ ]:
#OR using loc

In [ ]:
#C. Choosing some specific rows from  particular variable

In [ ]:
#D. Choosing some observations from all the variables

In [ ]:
#OR simply

#### 4. Practice

In [2]:
#a) Extract the information of the first 5 rows and firt 5 columns of the data

In [ ]:
#b) Extract the information of 20th-29th rows

In [ ]:
#c) Extract the information of only the columns MPG, Cylinders and Weight

In [ ]:
#d) Extract a random sample of size 100 from the data (SRSWOR)
#import numpy as np

#### 5. Condtional Subsetting

In [ ]:
#a) Extract all the information of the cars which has MPG more than 40

In [ ]:
#b) Extract the information of the car/s which has only 3 cylinders

In [ ]:
#c) Extract the information of all the cars originated in Europe and has Acceleration more than 20
(condition1)&(condition2)
(condition1)|(condition2)

In [ ]:
#d) Name the cars which has MPG more than 40 and Acceleration less than 20 or the car has three cylinders