## Introduction to Pandas

#### 1. Reading a csv file

In [48]:
# Check the current working directory
import os
os.getcwd() #get the current working directory

'C:\\Users\\hp\\Documents\\Praxis_Docs\\GOURAB_SIR_PYTHON_ML\\ML'

In [49]:
# Set the working directory
# C:\\Users\\Gourab\\Desktop\\R
os.chdir(r"C:\\Users\\hp\\Documents\\Praxis_Docs\\GOURAB_SIR_PYTHON_ML\\ML")

In [51]:
#Read the cars.csv data
import pandas as pd
cars = pd.read_csv("cars.csv")

In [27]:
import pandas as pd
cars = pd.read_csv("C:\\Users\\Gourab\\Desktop\\R\\cars.csv")

FileNotFoundError: [Errno 2] File b'C:\\Users\\Gourab\\Desktop\\R\\cars.csv' does not exist: b'C:\\Users\\Gourab\\Desktop\\R\\cars.csv'

In [52]:
type(cars)

pandas.core.frame.DataFrame

#### 2. Some initial steps with data

In [53]:
#A. Check the dimension of the data set
cars.shape

(406, 9)

In [6]:
#B. Number of rows in the data set
len(cars)

406

In [7]:
#OR
cars.shape[0]
cars.shape[1]

9

In [8]:
#C. Number of columns in the data set
cars.shape[1]

9

In [9]:
cars.columns #Get the columns

Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model', 'Origin'],
      dtype='object')

In [9]:
cars.columns

Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model', 'Origin'],
      dtype='object')

In [36]:
cars.shape

(406, 9)

In [37]:
cars.columns

Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model', 'Origin'],
      dtype='object')

In [10]:
#OR
list(cars)  #This will return a list

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [10]:
len(cars.columns)

9

In [11]:
#Aside
cars.index #Get the row index

RangeIndex(start=0, stop=406, step=1)

In [12]:
#Studying the variable types
cars.dtypes

Car              object
MPG             float64
Cylinders         int64
Displacement    float64
Horsepower        int64
Weight            int64
Acceleration    float64
Model             int64
Origin           object
dtype: object

In [12]:
#D. Getting the variable names
cars.columns

Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model', 'Origin'],
      dtype='object')

In [13]:
#E. Printing the first 5 lines of the data set
cars.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US

In [55]:
#F. Printing the first 10 lines of the data set
cars.head(10)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
5,Ford Galaxie 500,15.0,8,429.0,198,4341,10.0,70,US
6,Chevrolet Impala,14.0,8,454.0,220,4354,9.0,70,US
7,Plymouth Fury iii,14.0,8,440.0,215,4312,8.5,70,US
8,Pontiac Catalina,14.0,8,455.0,225,4425,10.0,70,US
9,AMC Ambassador DPL,15.0,8,390.0,190,3850,8.5,70,US

In [56]:
#G. Printing the last 3 lines of the data set
cars.tail(3)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
403,Dodge Rampage,32.0,4,135.0,84,2295,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82,2720,19.4,82,US

In [39]:
#H. Printing the entire data
cars

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84,2295,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82,2720,19.4,82,US

In [40]:
#Print a random sample
cars.sample(5)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
292,Chevrolet Caprice Classic,17.0,8,305.0,130,3840,15.4,79,US
104,Plymouth Valiant,18.0,6,225.0,105,3121,16.5,73,US
387,Mercury Lynx l,36.0,4,98.0,70,2125,17.3,82,US
346,Buick Skylark,26.6,4,151.0,84,2635,16.4,81,US
229,Oldsmobile Cutlass Supreme,17.0,8,260.0,110,4060,19.0,77,US

In [46]:
#head
#tail
#sample
cars["Origin"].head()

0    US
1    US
2    US
3    US
4    US
Name: Origin, dtype: object

#### 3. Choosing a single variable

In [44]:
#Method1 - Use Square brackets
cars["MPG"].head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: MPG, dtype: float64

In [ ]:
cars["Acceleration"].head()

In [17]:
cars["Origin"].head()

0    US
1    US
2    US
3    US
4    US
Name: Origin, dtype: object

In [54]:
cars.Acceleration.head(2)

0    12.0
1    11.5
Name: Acceleration, dtype: float64

In [ ]:
#Method2 - Use dot (.)
cars.MPG.head()

In [23]:
cars.Cylinders.head()

0    8
1    8
2    8
3    8
4    8
Name: Cylinders, dtype: int64

#### 4. Some Basic Statistical Functions

In [18]:
type(cars.MPG)

pandas.core.series.Series

In [19]:
#sum
cars.MPG.sum()

9358.8

In [57]:
cars.MPG.describe()

count    406.000000
mean      23.051232
std        8.401777
min        0.000000
25%       17.000000
50%       22.350000
75%       29.000000
max       46.600000
Name: MPG, dtype: float64

In [20]:
#mean
cars.MPG.mean()

23.051231527093602

In [ ]:
#median
cars.MPG.median()

In [47]:
#standard deviation
cars.MPG.std()

8.40177735227059

In [58]:
#variance
cars.MPG.var()

70.58986267712702

In [ ]:
#minimum
cars.MPG.min()

In [ ]:
#Maximum
cars.MPG.max()

In [15]:
#25th quantile
cars.MPG.quantile(.25)

17.0

In [16]:
#90th quantile
cars.MPG.quantile(0.9)

34.25

In [17]:
#90th, 95th and 99th percentile
cars.MPG.quantile([0.90,0.95,0.99])

0.90    34.250
0.95    37.000
0.99    43.385
Name: MPG, dtype: float64

In [20]:
#Inter-quartile range
cars.MPG.quantile(0.75) - cars.MPG.quantile(0.25)

12.0

In [21]:
#OR create a function
def IQR(x):
    return(x.quantile(0.75) - x.quantile(0.25))

In [22]:
IQR(cars.MPG)

12.0

In [ ]:
IQR(cars.Weight)

In [21]:
#describe
cars.MPG.describe()

count    406.000000
mean      23.051232
std        8.401777
min        0.000000
25%       17.000000
50%       22.350000
75%       29.000000
max       46.600000
Name: MPG, dtype: float64

In [ ]:
cars.describe()

### Some Functions and their Descriptions

    Function	Description
---------------------------------------------
       count	Number of non-null observations
         sum	Sum of values
        mean	Mean of values
         mad	Mean absolute deviation
      median	Arithmetic median of values
         min	Minimum
         max	Maximum
        mode	Mode
         abs	Absolute Value
        prod	Product of values
         std	Unbiased standard deviation
         var	Unbiased variance
         sem	Unbiased standard error of the mean
        skew	Unbiased skewness (3rd moment)
        kurt	Unbiased kurtosis (4th moment)
    quantile	Sample quantile (value at %)
      cumsum	Cumulative sum
     cumprod	Cumulative product
      cummax	Cumulative maximum
      cummin	Cumulative minimum