In [1]:
import numpy as np
import pandas as pd
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import confusion_matrix

In [3]:
iris = pd.read_csv("iris.csv")
iris.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [4]:
iris = iris.drop("Unnamed: 0",axis =1)
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
#Creating a speparate Dataframe
pred = {"pred00":np.array(np.repeat(np.nan,len(iris)),dtype ="<U10")}
pred = pd.DataFrame(data=pred)

In [6]:
#Bagging Round 1 
#Step 1 to get the bootstrap sample
boot = iris.sample(len(iris),replace = True)

# Step 2 get the indices for out-of-bag-data
uniq_indx = np.unique(boot.index)
test_index = []
for i in range(0,len(iris)):
    if i not in uniq_indx:
        test_index.append(i)


test = iris.iloc[test_index]
test.head()

# Step 3 splitting X and Y 
X_boot = boot.drop("Species",axis =1)
Y_boot = boot["Species"]
X_test  = test.drop("Species",axis =1)
Y_test = test["Species"]

# Step 4 Training the model on Bootstrap sample 
tree = DecisionTreeClassifier(criterion = "gini",min_samples_leaf =5)
tree.fit(X_boot,Y_boot)

# Step 5 get the predicted value on test data
predict = tree.predict(X_test)

# Step 6 add new predict column
pred["pred1"] = pred["pred00"]

# Step 6 bagging the second predicted value...
j=0
for i in range(0,len(iris)-1):
    if i in test_index:
        pred["pred1"][i]=predict[j]
        j=j+1
        
pred

    pred00      pred1
0      nan        nan
1      nan        nan
2      nan        nan
3      nan        nan
4      nan        nan
..     ...        ...
145    nan        nan
146    nan  virginica
147    nan  virginica
148    nan        nan
149    nan        nan

[150 rows x 2 columns]

In [7]:
#Bagging Round 2 
#Step 1 to get the bootstrap sample
boot = iris.sample(len(iris),replace = True)

# Step 2 get the indices for out-of-bag-data
uniq_indx = np.unique(boot.index)
test_index = []
for i in range(0,len(iris)):
    if i not in uniq_indx:
        test_index.append(i)


test = iris.iloc[test_index]
test.head()

# Step 3 splitting X and Y 
X_boot = boot.drop("Species",axis =1)
Y_boot = boot["Species"]
X_test  = test.drop("Species",axis =1)
Y_test = test["Species"]

# Step 4 Training the model on Bootstrap sample 
tree = DecisionTreeClassifier(criterion = "gini",min_samples_leaf =5)
tree.fit(X_boot,Y_boot)

# Step 5 get the predicted value on test data
predict = tree.predict(X_test)

# Step 6 add new predict column
pred["pred2"] = pred["pred00"]

# Step 6 bagging the second predicted value...
j=0
for i in range(0,len(iris)-1):
    if i in test_index:
        pred["pred2"][i]=predict[j]
        j=j+1
        
pred

    pred00      pred1      pred2
0      nan        nan        nan
1      nan        nan        nan
2      nan        nan     setosa
3      nan        nan     setosa
4      nan        nan     setosa
..     ...        ...        ...
145    nan        nan  virginica
146    nan  virginica        nan
147    nan  virginica        nan
148    nan        nan  virginica
149    nan        nan        nan

[150 rows x 3 columns]

In [8]:
#Bagging Round 3 
#Step 1 to get the bootstrap sample
boot = iris.sample(len(iris),replace = True)

# Step 2 get the indices for out-of-bag-data
uniq_indx = np.unique(boot.index)
test_index = []
for i in range(0,len(iris)):
    if i not in uniq_indx:
        test_index.append(i)


test = iris.iloc[test_index]
test.head()

# Step 3 splitting X and Y 
X_boot = boot.drop("Species",axis =1)
Y_boot = boot["Species"]
X_test  = test.drop("Species",axis =1)
Y_test = test["Species"]

# Step 4 Training the model on Bootstrap sample 
tree = DecisionTreeClassifier(criterion = "gini",min_samples_leaf =5)
tree.fit(X_boot,Y_boot)

# Step 5 get the predicted value on test data
predict = tree.predict(X_test)

# Step 6 add new predict column
pred["pred3"] = pred["pred00"]

# Step 6 bagging the second predicted value...
j=0
for i in range(0,len(iris)-1):
    if i in test_index:
        pred["pred3"][i]=predict[j]
        j=j+1
        
pred

    pred00      pred1      pred2      pred3
0      nan        nan        nan        nan
1      nan        nan        nan     setosa
2      nan        nan     setosa        nan
3      nan        nan     setosa     setosa
4      nan        nan     setosa        nan
..     ...        ...        ...        ...
145    nan        nan  virginica        nan
146    nan  virginica        nan        nan
147    nan  virginica        nan  virginica
148    nan        nan  virginica  virginica
149    nan        nan        nan        nan

[150 rows x 4 columns]

In [9]:
#20 rounds of bagging
pred = {"pred00":np.array(np.repeat(np.nan,len(iris)))}
pred = pd.DataFrame(data=pred)
rounds = 50
models = []
for l in range(0,rounds):
    
    #Step 1 to get the bootstrap sample
    boot = iris.sample(len(iris),replace = True)
    
    # Step 2 get the indices for out-of-bag-data
    uniq_indx = np.unique(boot.index)
    test_index = []
    for m in range(0,len(iris)):
        if m not in uniq_indx:
            test_index.append(m)


    test = iris.iloc[test_index]
    #test.head()
    # Step 3 splitting X and Y 
    X_boot = boot.drop("Species",axis =1)
    Y_boot = boot["Species"]
    X_test  = test.drop("Species",axis =1)
    Y_test = test["Species"]
    
    # Step 4 Training the model on Bootstrap sample 
    tree = DecisionTreeClassifier(criterion = "gini",min_samples_leaf =5)
    tree.fit(X_boot,Y_boot)
    models.append(tree)
    
    # Step 5 get the predicted value on test data
    predict = tree.predict(X_test)
    
    # Step 6 add new predict column
    p = "pred"+str(l)
    pred[p] = pred["pred00"]
    
    # Step 7 bagging the second predicted value...
    j=0
    for n in range(0,len(iris)):
        if n in test_index:
            pred[p][n]=predict[j]
            j=j+1
        
pred

,pred00,pred0,pred1,pred2,pred3,pred4,pred5,pred6,pred7,pred8,...,pred40,pred41,pred42,pred43,pred44,pred45,pred46,pred47,pred48,pred49
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,setosa,NaN,NaN,NaN,NaN,setosa,NaN,NaN,setosa,setosa
1,NaN,NaN,NaN,NaN,NaN,NaN,setosa,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,setosa,NaN,NaN
2,NaN,NaN,NaN,NaN,setosa,NaN,NaN,NaN,NaN,setosa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,setosa,setosa
3,NaN,NaN,setosa,setosa,setosa,NaN,setosa,NaN,NaN,setosa,...,setosa,NaN,setosa,NaN,NaN,NaN,NaN,NaN,setosa,NaN
4,NaN,NaN,setosa,setosa,NaN,NaN,setosa,NaN,NaN,NaN,...,setosa,NaN,setosa,NaN,setosa,setosa,NaN,NaN,setosa,setosa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,NaN,NaN,NaN,virginica,NaN,NaN,NaN,NaN,virginica,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,virginica,NaN,NaN,NaN
146,NaN,NaN,virginica,NaN,NaN,NaN,virginica,NaN,NaN,virginica,...,NaN,NaN,NaN,virginica,NaN,NaN,virginica,NaN,NaN,NaN
147,NaN,virginica,NaN,NaN,NaN,virginica,NaN,virginica,NaN,NaN,...,NaN,virginica,virginica,virginica,NaN,NaN,NaN,virginica,NaN,NaN
148,NaN,NaN,NaN,NaN,NaN,virginica,NaN,virginica,NaN,virginica,...,NaN,virginica,virginica,NaN,NaN,NaN,virginica,virginica,NaN,virginica
149,NaN,virginica,NaN,virginica,NaN,virginica,virginica,NaN,virginica,NaN,...,NaN,virginica,NaN,NaN,NaN,virginica,NaN,NaN,virginica,NaN

In [10]:
predictions = []
for i in range(0,pred.shape[0]):
    
    p = []
    p = pred.iloc[i,:]
    count = p.value_counts().index.tolist()
    predictions.append(count[0])
predictions

['setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'versicolor',
 'versicolor',
 'virginica',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'virginica',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'virginica',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'virginica',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'versicolor',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'versicolor',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'versicolor',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica']

In [11]:
cm = confusion_matrix(iris.Species,predictions)

(cm,(cm[0,0]+cm[1,1]+cm[2,2])/150)

(array([[50,  0,  0],
        [ 0, 46,  4],
        [ 0,  3, 47]], dtype=int64), 0.9533333333333334)

# Putting everything together

In [13]:

#20 rounds of bagging
pred = {"pred00":np.array(np.repeat(np.nan,len(iris)))}
pred = pd.DataFrame(data=pred)
rounds = 20
models = []
for l in range(0,rounds):
    
    #Step 1 to get the bootstrap sample
    boot = iris.sample(len(iris),replace = True)
    
    # Step 2 get the indices for out-of-bag-data
    uniq_indx = np.unique(boot.index)
    test_index = []
    for m in range(0,len(iris)):
        if m not in uniq_indx:
            test_index.append(m)


    test = iris.iloc[test_index]
    #test.head()
    # Step 3 splitting X and Y 
    X_boot = boot.drop("Species",axis =1)
    Y_boot = boot["Species"]
    X_test  = test.drop("Species",axis =1)
    Y_test = test["Species"]
    
    # Step 4 Training the model on Bootstrap sample 
    tree = DecisionTreeClassifier(criterion = "gini",min_samples_leaf =5)
    tree.fit(X_boot,Y_boot)
    models.append(tree)
    
    # Step 5 get the predicted value on test data
    predict = tree.predict(X_test)
    
    # Step 6 add new predict column
    p = "pred"+str(l)
    pred[p] = pred["pred00"]
    
    # Step 7 bagging the second predicted value...
    j=0
    for n in range(0,len(iris)):
        if n in test_index:
            pred[p][n]=predict[j]
            j=j+1
        
#pred





predictions = []
for i in range(0,pred.shape[0]):
    
    p = []
    p = pred.iloc[i,:]
    count = p.value_counts().index.tolist()
    predictions.append(count[0])
#predictions


cm = confusion_matrix(iris.Species,predictions)

(cm,(cm[0,0]+cm[1,1]+cm[2,2])/150)

(array([[50,  0,  0],
        [ 0, 46,  4],
        [ 0,  6, 44]], dtype=int64), 0.9333333333333333)